.sideBar {
  width: 269px;
}
.menu {
  li {
    border-left: 5px solid #edf4ee;
    &:hover {
      border-left: 5px solid #2a8356;
      span {
        color: #2a8356;
      }
    }
  }
}
.personInfo {
  .img {
    img {
      width: 40px;
			height: 40px;
			border-radius: 50%;
    }
  }
}

